/* body{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
} */
.heading h1{
    background-color: rgb(0, 110, 255);
    margin: 0;
    padding: 10px;
    color: rgba(255, 255, 255, 0.952);
}

.input-div{
    display: flex;
}

.input{
    flex: 10;
    height: 50px;
}
.input input{
    width:  calc(100% - 20px);
    height:50px;
    border: none;
    outline: none;
    background-color: rgba(115, 192, 243, 0.76);
    padding: 0 10px;
    font-size: 16px;
    color: black;
    
}

.btn{
    flex: 2;
    height: 50px;
    display: flex;
}

.btn button{
    height: 50px;
    /* width: 50%; */
    flex: auto;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(115, 192, 243, 0.76);
    text-align: center;
    font-size: 16px;
}

.btn button:hover{
    background-color:rgb(0, 110, 255)
}
/* .btn button>img{
    width: 20px;
    
} */

.items ul{
    margin: 0;
    padding: 0;
    
}
.items ul li{
    padding: 10px 10px ;
  
  
    display: flex;
    background-color: rgb(0, 183, 255); 
    
}

.items ul li:nth-child(odd){
    background-color: rgba(0, 183, 255, 0.767); 
}

.items ul li span{
   display: block;
padding-left:10px;
}

.listInput{
    width:100%;
    border: none;
    outline: none;
background-color: transparent;
font-size: 16px;
color: black;
}
/* .listInput:hover{
    border-bottom: 2px solid red;
} */

/* .btndiv{
 
  flex: 1;
display: flex;
padding:5px 0 ;
} */
/* .btndiv>button{
   flex: 1;
   border: none;
    outline: none;
    cursor: pointer;
    height: 30px;
    background-color: transparent;
} */

img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* .items ul li> textarea{
border: none;
outline: none;
background-color: transparent;
     width: 90%;
     /* height: 30px; */
     /* word-wrap: break-word;
     text-align: justify;
     font-size: 16px;
      height: auto;
     
 } */ 
/* .textdiv{
border: none;
outline: none;
background-color: transparent;
     width: 70%;
     flex: 9;
   word-wrap: break-word;
     text-align: justify;
     font-size: 20px;
     padding: 10px 10px;
     
 } */

 /* .hidden{
     display: none;
 } */


 @media only screen and (max-width:480px){
    
        .input input{
            font-size: 16px;}

            .heading h1{font-size: 28px;}
            .btn button{font-size: 14px;}
 }