.input-div{
    display: flex;
}

.input{
    flex: 9;
    /* width: 80%; */
    /* background-color: blue; */
    height: 50px;
}
.input input{
    width:  calc(100% - 20px);
    height:50px;
    border: none;
    outline: none;
    background-color: blue;
    padding: 0 10px;
    font-size: 20px;
    color: white;
    /* margin-right: 10px; */
}
.input input::placeholder{
    color: rgb(207, 207, 207);
}
.btn{
    flex: 2;
    /* width: 20%; */
    /* background-color: red; */
    height: 50px;
    display: flex;
}
.btn button{
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn button>img{
    width: 20px;
}
.items{
    background-color: rgb(0, 183, 255);
    /* padding:20px 0 10px 0; */
}
.items ul{
    margin: 0;
    padding: 0;
    
}
.items ul li{
    padding: 10px 0 0 0;
    margin: 0;
   
    display: flex;
    list-style-type: square;
}

.btndiv{
  /* width: 10%; */
  flex: 1;
display: flex;
}
.btndiv>button{
   flex: 1;
   
    height: 30px;
}
.btndiv>button>img{
    width: 20px;
    height: 20px;
}

/* .items ul li> textarea{
border: none;
outline: none;
background-color: transparent;
     width: 90%;
     /* height: 30px; */
     /* word-wrap: break-word;
     text-align: justify;
     font-size: 16px;
      height: auto;
     
 } */ 
.textdiv{
/* border: none;
outline: none; */
background-color: transparent;
     /* width: 70%; */
     flex: 9;
   word-wrap: break-word;
     text-align: justify;
     font-size: 16px;
     padding: 0 10px;
     
 }
